{{- if or .Params.enableMathNotation .Site.Params.enableMathNotation }}
  {{ partial "math" . }}
{{- end }}
<footer class="footer">
  <div class="footer_inner wrap pale">
   &nbsp;
    <p>Copyright &copy;&nbsp;{{- if .Site.Params.since }}{{ .Site.Params.since }}&nbsp;-&nbsp;{{- end }}<span class="year">{{ now.Format "2006"}}</span>&nbsp;<strong>Rajmahendra.in</strong>. {{ i18n "all_rights" }} | <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></p> 
    {{- partial "top" .}}
  </div>
</footer>