
  {{- $items := .Site.Data.talks }}
  <ul class="posts" id="posts">
    {{- range $items }}
   
    <li class="post_item">
      <div class="excerpt">
        <div class="excerpt_header">
          <h3 class="post_link">
            <a href="{{ .Permalink }}">{{ .title  }}</a>
          </h3>
          <div class="post_meta">
            First Talk @ {{ .firstPresentedAt}}
          </div>
        </div>
 
        <div class="excerpt_footer partition">
          <div class="excerpt_thumbnail">
            <img src='/images/talks/{{ .img}}'>
          </div>
   
            <div>
              <p class="pale">{{ .subtitle }}</p>
   
            </div>
          </div>
        </div>
      </li>

    {{- end }}

  </ul>
  

  